aside {
  transition: transform 0.3s ease-in-out;
}

aside {
  position: fixed; 
  top: 66px; 
  left: 0;
  width: 16rem; 
  height: calc(100vh - 75px); 
  z-index: 40; 
  background-color: #2c2d31; 
  transition: transform 0.3s ease-in-out;
  overflow-y: auto; 
}

.main-content {
  transition: margin-left 0.3s ease;
}

.ml-64 {
  margin-left: 16rem; 
}

.ml-0 {
  margin-left: 0; 
}

main {
  margin-top: 75px; 
  transition: margin-left 0.3s ease;
}
