<aside [class.hidden]="!isSidebarVisible"
  class="flex flex-col space-y-4 bg-gray-100 shadow-lg rounded-tl-{0px} rounded-tr-{8px} p-4 fixed  left-0 w-64 h-[calc(100vh-75px)] z-40 transition-all bg-[#2c2d31]">
  <nav class="flex  flex-col gap-[20px]">
    <!-- Sidebar links -->
    <a routerLink="/admin/admin-dashboard" routerLinkActive="active-link"
      class="text-white flex items-center p-2 rounded-md hover:bg-[#35AD79] transition group">
      <i class="fas fa-tachometer-alt mr-2 text-[#35AD79] group-hover:text-white"></i>
      <span>Dashboard</span>
    </a>

    <a routerLink="/admin/list-product" routerLinkActive="active-link"
      class="text-white flex items-center p-2 rounded-md hover:bg-[#35AD79] transition group">
      <i class="fas fa-boxes mr-2 text-[#35AD79] group-hover:text-white"></i>
      <span>Products</span>
    </a>

    <a routerLink="/admin/admin-orders" routerLinkActive="active-link"
      class="text-white flex items-center p-2 rounded-md hover:bg-[#35AD79] transition group">
      <i class="fas fa-shopping-cart mr-2 text-[#35AD79] group-hover:text-white"></i>
      <span>Orders</span>
    </a>

    <a routerLink="/admin/list-seller" routerLinkActive="active-link"
      class="text-white flex items-center p-2 rounded-md hover:bg-[#35AD79] transition group">
      <i class="fas fa-users mr-2 text-[#35AD79] group-hover:text-white"></i>
      <span>Seller</span>
    </a>

    <a routerLink="/admin/admin-categories" routerLinkActive="active-link"
      class="text-white flex items-center p-2 rounded-md hover:bg-[#35AD79] transition group">
      <i class="fas fa-th-large mr-2 text-[#35AD79] group-hover:text-white"></i>
      <span>Categories</span>
    </a>

    <a routerLink="/admin/admin-chats" routerLinkActive="active-link"
      class="text-white flex items-center p-2 rounded-md hover:bg-[#35AD79] transition group">
      <i class="fas fa-comments mr-2 text-[#35AD79] group-hover:text-white"></i>
      <span>Chats</span>
    </a>

  </nav>
</aside>