<!-- <aside class="sidebar p-5 mt-[80px] bg-[#f1f2f2]">
  <ul class="sidebar-nav space-y-4">
    <li>
      <a routerLink="/customer/customer-dashboard" routerLinkActive="active" class="block no-underline whitespace-nowrap text-gray-800 hover:text-blue-600">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/customer/chats" routerLinkActive="active" class="block no-underline whitespace-nowrap text-gray-800 hover:text-blue-600">
        Chats
      </a>
    </li>
  </ul>
</aside> -->

<!-- 
<button (click)="toggleSidebar()" class="lg:hidden p-4 text-gray-800">
  <i *ngIf="!isSidebarVisible" class="fas fa-bars"></i> 
  <i *ngIf="isSidebarVisible" class="fas fa-times"></i> 
</button>

<aside [ngClass]="{'show': isSidebarVisible}" class="sidebar p-5 mt-[80px] bg-[#f1f2f2]">
  <ul class="sidebar-nav space-y-4">
    <li>
      <a routerLink="/customer/customer-dashboard" routerLinkActive="active" class="block no-underline text-gray-800 hover:text-blue-600">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/customer/chats" routerLinkActive="active" class="block no-underline text-gray-800 hover:text-blue-600">
        Chats
      </a>
    </li>
  </ul>
</aside> -->
