
.reset-password-container {
  background-color: #f1f2f2;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


.form-actions {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-primary {
  background-color: #35AD79; 
  color: white;
}

button.btn-primary:hover {
  background-color: #35AD79;
}

button.btn-secondary {
  background-color: #6c757d;
  color: white;
}

button.btn-secondary:hover {
  background-color: #5a6268;
}

.reset{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 38px;
}