
.chat-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 55px !important;
  }
  
  .messages {
    flex: 1;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }
  
  .message.left {
    text-align: left;
    background-color: #e0e0e0;
  }
  
  .message.right {
    text-align: right;
    background-color: #d1ffd1;
  }
  
  .message-input {
    display: flex;
  }
  
  .message-input input {
    flex: 1;
    padding: 5px;
  }
  
  .message-input button {
    padding: 5px 10px;
    background-color: #35AD79;
    color: white;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .message-input button:hover{
    background-color: #21cb81;
  }
  