<div class="flex min-h-screen">
  <!-- Sidebar Component -->
  <app-admin-layout-sidebar [isSidebarVisible]="isSidebarVisible"></app-admin-layout-sidebar>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col transition-all">
    <!-- Header -->
    <app-admin-layout-header (toggleSidebarEvent)="toggleSidebar()"></app-admin-layout-header>

    <!-- Router Outlet (For page content) -->
    <main [ngClass]="isSidebarVisible ? 'ml-64' : 'ml-0'" class="flex-1 p-4 transition-all">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>