<!-- <div class="bg-[#2c2d31]">
  <div class="bg-[#2c2d31] w-full max-w-[1280px] mx-auto">
    <div class="contact-container text-white p-8">
      <div class="footer-section grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        
        <div class="phone-info flex items-center gap-3">
          <i class="fa-solid fa-phone text-xl text-[#FFD700]"></i>
          <p class="text-sm font-medium">+64 211172680</p>
        </div>

        <div class="email-info flex items-center gap-3">
          <i class="fa-solid fa-envelope text-xl text-[#FFD700]"></i>
          <p class="text-sm font-medium">sportsmart &#64;sportsmart.co.nz</p>
        </div>

        <div class="working-hours">
          <p class="text-sm text-gray-400">Mon to Fri: (9 am to 6 pm)</p>
          <p class="text-sm text-gray-400">Sat: (12 pm to 4 pm)</p>
          <p class="text-sm text-gray-400">Sun: Closed</p>
        </div>

        <div class="location-info flex items-center gap-3">
          <i class="fa-solid fa-location-dot text-xl text-[#FFD700]"></i>
          <p class="text-sm text-gray-400">161B Great South Road, Manurewa, Auckland 2102</p>
        </div>

      </div>
    </div>
  </div>
</div> -->




<footer class="footer bg-[#2c2d31]">
  <div class="max-w-[1280px] m-auto w-full bg-[#2c2d31]">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> About Us</span> We specialize in providing top-quality sports equipment for athletes of all levels. From beginner to professional, our range of products ensures you achieve peak performance. Gear up with confidence and take your game to the next level.
      </p>
      <div class="icons">
        <a href="#"><i class="fab fa-facebook text-[#35AD79]"></i></a>
        <a href="#"><i class="fab fa-twitter text-[#35AD79]"></i></a>
        <a href="#"><i class="fab fa-linkedin text-[#35AD79]"></i></a>
        <a href="#"><i class="fab fa-google-plus-g text-[#35AD79]"></i></a>
        <a href="#"><i class="fab fa-instagram text-[#35AD79]"></i></a>
      </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker text-[#35AD79]"></i>
        <p><span> 123 Sports Lane</span> Fitness City, Country</p>
      </div>
      <div>
        <i class="fa fa-phone text-[#35AD79]"></i>
        <p> (+00) 1234 567 890</p>
      </div>
      <div>
        <i class="fa fa-envelope text-[#35AD79]"></i>
        <p><a href="#"> supportsportsequipment.com</a></p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <!-- <h2> Sports<span class="text-[#35AD79]"> Fusion</span> </h2> -->
      <h2>Sports <span class="text-fusionGreen">Fusion</span></h2>
      <p class="menu">
        <a href="#"> Home</a> |
        <a href="#"> Products</a> |
        
        <a href="#"> Contact Us</a>
      </p>
      <p class="name"> Sports Gear Co. &copy; 2024</p>
    </div>
  </div>
</footer>
