<section class="about-section">
  <div class="container">
    <div class="row clearfix">
      
      <!-- Content Column -->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="sec-title">
            <div class="title">About Us</div>
           <h2>Your One-Stop Shop for<br> Quality Sports Essentials</h2>
          </div>
          <div class="text">
            At <b>SportsZone</b>, we bring you the finest quality sports equipment tailored to meet the needs of athletes and enthusiasts alike. From cricket bats, rackets, and footballs to protective gear and training essentials, we ensure that every product is crafted for performance and durability.
          </div>
          <div class="email">
            Get In Touch: <span class="theme_color">sportsgearsportszone.com</span>
          </div>
          <a href="shop.html" class="theme-btn btn-style-three">Shop Now</a>

        </div>
      </div>
      
      <!-- Image Column -->
      <div class="image-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img 
              class="h-96 w-auto object-cover" 
              src="https://t4.ftcdn.net/jpg/02/97/52/81/240_F_297528198_uu6DjM2ZqSp5y0nXMeo2WsUFOhlyeHeO.jpg" 
              alt="Sports Gear">
            <div class="overlay-box">
              <div class="year-box">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<app-card></app-card>